---
---

@import "{{ site.theme }}";
body {
  background-color: #22272e;
  color: #adbac7;
}
.page-header {
  padding: 5rem;
  background-color: #22272e;
  background-image: linear-gradient(rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.2)), url("/assets/books.webp");
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  background-size: cover;
  border-radius: 0% 0% 20% 20%;
  color: black;
}
.project-name {
  font-variant: small-caps;
  text-shadow: 2px 2px 10px darkgray;
  @include large {
    font-size: 5rem;
  }
}
.page-header>.btn {
  display: none;
}
.project-tagline {
  margin-top: 0;
  margin-bottom: 0rem;
  padding-bottom: 1rem;
  font-variant: small-caps;
  text-shadow: 2px 2px 10px black;
  @include large {
    font-size: 1.5rem;
  }
  @include medium {
    font-size: 1.2rem;
  }
  @include small {
    font-size: 1.1rem;
  }
}
.main-content {
  padding-top: 1rem;
}
.main-content>h1, .main-content>h2, .main-content>h3, .main-content>h4, {
  font-variant: small-caps;
  font-weight: bold;
}
.main-content>ul, .main-content>ol {
  border: 1px solid #606c71;
  border-radius:  10px;
  padding: 20px 40px;
}
.main-content pre, .main-content code {
  background-color: lightgray;
}
