---
---

@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');
@import "{{ site.theme }}";
body {
  font-family: 'Inter', 'Open Sans', '"Helvetica Neue', 'Helvetica', 'Arial', 'sans-serif';
}
.page-header {
  padding: 0rem;
  background-color: #0b4580;
  background-image: linear-gradient(120deg, #155799, #0b4580);
}
