---
---

@import "{{ site.theme }}";
body {
  background-color: #22272e;
  color: #adbac7;
}
.page-header {
  padding: 0rem;
  background-color: #2d333b;
  background-image: none;
  color: lightgray;
}
.project-tagline {
  margin-top: 0;
  margin-bottom: 1rem;
  font-variant: small-caps;
}
.main-content>h1, .main-content>h2, .main-content>h3, .main-content>h4, {
  font-variant: small-caps;
  font-weight: bold;
}
.main-content>ul, .main-content>ol {
  border: 1px solid #606c71;
  border-radius:  10px;
  padding: 20px 40px;
}
.main-content pre, .main-content code {
  background-color: lightgray;
}
