---
---

@import "{{ site.theme }}";
body {
  background-color: #22272e;
}
.page-header {
  padding: 0rem;
  background-color: #2d333b;
  background-image: none;
  color: lightgray;
}
.main-content ul, .main-content ol {
  border: 1px solid #606c71;
  border-radius:  10px;
  padding: 20px 40px;
}
